*.DS_Store

frontend/package-lock.json
backend/package-lock.json
backendOld/package-lock.json

backend/node_modules/
backendOld/node_modules/
frontend/node_modules/

frontend/.next/

frontend/.env
backend/.env
backendOld/.env