@import 'tailwindcss';

:root {
   --background: #ffffff;
   --foreground: #171717;
}

@theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --font-sans: var(--font-geist-sans);
   --font-mono: var(--font-geist-mono);
}

html,
body {
   min-height: 100%;
   margin: 0;
   background: #0f172b;
}

@media (prefers-color-scheme: dark) {
   :root {
      --background: #0a0a0a;
      --foreground: #ededed;
   }
}

/* body {
   background: var(--background);
   color: var(--foreground);
   font-family: Arial, Helvetica, sans-serif;
} */

@keyframes spinQuarterPause {
   0% {
      transform: rotate(0deg);
   }

   10% {
      transform: rotate(90deg);
   }

   25% {
      transform: rotate(90deg);
   }

   35% {
      transform: rotate(180deg);
   }

   50% {
      transform: rotate(180deg);
   }

   60% {
      transform: rotate(270deg);
   }

   75% {
      transform: rotate(270deg);
   }

   85% {
      transform: rotate(360deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

.animate-spin-quarter-pause {
   animation: spinQuarterPause 6s ease-out infinite;
}
